.real-estate {
  display: flex;
  height: 20rem;
  width: 55rem;
  border: 1px solid blue;
  padding: 0.5rem;
  margin: 6rem auto;
}
.reality-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
img {
  height: 20rem;
  border: 1px solid orange;
}
.title {
  text-align: center;
  border: 1px solid orange;
  margin-left: 4px;
}
.description {
  text-align: center;
  /* border: 1px solid black; */
  margin-left: 4px;
  margin-top: 4px;
  font-size: 1.5rem;
}
